.main-home{
    margin: auto;
    max-width: 70rem;
    .register-form{
        margin-top: 6rem;
    }

}
.active-game{
    text-align: left;
    margin-bottom: 2rem;
    span{
        font-weight: bold;
    }
}